pkgbase = cellframe-dashboard
	pkgdesc = Super application for managing Cellframe node
	pkgver = 3.0.33
	pkgrel = 1
	url = https://cellframe.net
	install = cellframe-dashboard.install
	arch = x86_64
	arch = aarch64
	license = GPL3
	makedepends = git
	makedepends = qt5-base
	makedepends = qt5-declarative
	makedepends = cmake
	depends = qt5-graphicaleffects
	depends = qt5-base
	depends = qt5-quickcontrols2
	depends = qt5-quickcontrols
	depends = cellframe-node
	options = !debug
	options = !buildflags
	options = !makeflags
	source = git+https://gitlab.demlabs.net/cellframe/cellframe-dashboard.git#commit=2fca666611512a5a55e72ad19ae1570d76e62695
	source = cellframe-dashboard-tmpfiles.conf
	md5sums = SKIP
	md5sums = 8e95f02e07c1f24093d01415cf59af2c

pkgname = cellframe-dashboard
