pkgbase = cellframe-dashboard
	pkgdesc = Super application for managing Cellframe node
	pkgver = 3.0.76
	pkgrel = 1
	url = https://cellframe.net
	install = cellframe-dashboard.install
	arch = x86_64
	arch = aarch64
	license = GPL3
	makedepends = git
	makedepends = qt5-base
	makedepends = qt5-declarative
	depends = qt5-graphicaleffects
	depends = qt5-base
	depends = qt5-quickcontrols2
	depends = qt5-quickcontrols
	depends = cellframe-node
	options = !debug
	source = git+https://gitlab.demlabs.net/cellframe/cellframe-dashboard.git#commit=23811838cacae7b1a504e7f10f6c8268e8b7823e
	source = cellframe-dashboard-tmpfiles.conf
	md5sums = SKIP
	md5sums = 8e95f02e07c1f24093d01415cf59af2c

pkgname = cellframe-dashboard
